select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.btn:focus,
a:focus {
	outline: 0;
}
.adel-box {
	padding: 25px 30px;
	background: #fff;
	border-bottom: 4px solid #e7e7e7;
	border-radius: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0.35);
}
.align-center {
	text-align: center;
}
#error-box {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 350px;
}
.adel-bg,
.adel-bg body {
	height: 100%;
}
.adel-bg body {
	/*
	background: url('../img/bg-top-right.png') no-repeat 100% 0
				,url('../img/bg-bottom-left.png') no-repeat 0 100%
				;
	*/
	background: #ececec url('../img/bg.png') no-repeat 50% 50%;
}
table {
	height: 100%;
	width: 100%;
}
table td {
	vertical-align: middle;
}
#wrapper {
	width: 434px;
	margin: 0 auto;
	position: relative;
	/*
	*/
}
#header {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: ;
	position: absolute;
	/*
	width: 350px;
	top: -85px;
	*/
	left: 20px;
	top: 8px;
}
#box {
	padding: 25px 40px 30px;
}
#form {
	margin-bottom: 0;
}
#form .control-group:last-child {
	margin-bottom: 0;
}
#form h4 {
	display: none;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}
.logo {
	margin-bottom: 1px;
	margin-right: 8px;
}
#input {
	margin-top: 5px;
	min-height: 34px;
	font-size: 18px;
	text-align: center;
	color: #333;
}
#input.disabled {
	color: #777
}
#type {
	margin-bottom: 25px !important;
}
#type.disabled {
	margin-bottom: 15px;
}
#box-overlay {
	display: none;
	background: rgba(255,255,255,.6);
	width: 400px;
	height: 90%;
	border: 0px solid red;
	position: absolute;
	top: 5%;
	left: 20px;
	z-index: 10;
}
#form .controls {
	position: relative;
}
.icon-mask-status {
	display: none;
	position: absolute;
	top: 11px;
	right: 8px;
	width: 20px;
	height: 20px;
}
.icon-accept {
	background: url('../img/accept-big.png') no-repeat;
}
.icon-decline {
	background: url('../img/exclamation.png') no-repeat;
}
#result {
	display: none;
}
#result .alert {
	color: #96733C;
	font-weight: bold;
	position: relative;
	padding: 8px 14px;
}
#result .alert span {
	display: block;
	cursor: pointer;
	margin: 5px 0;
}
#result .alert input {
	display: none;
	text-align: center;
	margin: 0;
}
#result .alert .icon {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}
#result .alert .icon-clipboard {
	background: url('../img/clipboard_sign.png') no-repeat;
	height: 16px;
}
#retry {
	display: none;
}